{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" 
          rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" 
          crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <title>{% block title %}NBA Jersey Shop{% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <style type="text/css">
            body { 
            background: url('{% static "NBA-Player.png" %}') no-repeat center center fixed; 
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
            }
    </style>
</head>

<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'shop:home' %}">
              <img src="{% static 'nba-logo.png' %}" style="width: 2rem;" loading="lazy">
              <strong>NBA</strong> Jersey Shop</a>
            <div class="navbar bg-body-tertiary">
                <ul class="navbar-nav">
                    {% if user.is_authenticated %}
                    <li class="nav-item">
                      <div class="nav-link text-success">Hello {{ user }}
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'orders:user_orders' %}">Your orders</a>
                    </li>
                    {% endif %}
                    <li class="nav-item">
                        {% with total_items=cart|length %}
                          {% if total_items > 0 %}
                            <div>
                            <a class="nav-link" href="{% url 'cart:cart_detail' %}">
                                <i class="bi-cart2"></i>
                              {{ total_items }} item{{ total_items|pluralize }},
                              ${{ cart.get_total_price }}
                            </a>
                            </div>
                          {% elif not order %}
                            <div class="nav-link">Your cart is empty.</div>
                          {% endif %}
                        {% endwith %}
                    </li>
                    {% if not user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'registration' %}">Sign up</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'login' %}">Log in</a>
                    </li>
                    {% endif %}

                    {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'logout' %}">Log out</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
    <div class="container">
    {% block content %}

    {% endblock content %}
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
      </script>

<footer class="text-center text-lg-start expand-lg bg-body-tertiary text-muted bottom-0 ">

  <!-- Section: Links  -->
  <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
    <div class="container text-center text-md-start mt-5">
      <!-- Grid row -->
      <div class="row mt-3">
        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <!-- Content -->
          <h6 class="text-uppercase fw-bold mb-4">
            <i class="fas fa-gem me-3"></i>About
          </h6>
          <p>
            This project was created by Rafał Ćwikła and Filip Fibakiewicz
            for a purpose of the final project on the course "Python from scratch"
            at the Software Development Academy.
            The final touch made by Rafał Ćwikła.
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            Need help?
          </h6>
          <p>
            <a class="me-4 text-reset">
                <i class="bi bi-telephone">+48 797 198 403</i>
            </a>
          </p>
          <p>
            <a class="me-4 text-reset">
               <i class="bi bi-envelope-at">: rafal.cwikla@proton.me</i>
            </a>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            Useful links
          </h6>
          <p>
            <a href="#!" class="text-reset">Pricing</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Settings</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Orders</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Help</a>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">Follow Us</h6>
          <p>
            <a 
              data-mdb-ripple-init
              class="btn btn-link btn-floating btn-lg text-body m-1"
              role="button"
              data-mdb-ripple-color="dark"
              href="https://linkedin.com/in/rafalcwikla" class="social-icon si-rounded si-small si-linkedin">
              <strong>Linked<i class="bi bi-linkedin">  </i>
            </a>
          </p>
          <p>
            <a
              data-mdb-ripple-init
              class="btn btn-link btn-floating btn-lg text-body m-1"
              role="button"
              data-mdb-ripple-color="dark"
              href="https://github.com/cyberaff/NBAjerseyShop" class="me-4 text-reset">
              <i class="bi bi-github"></i> 
            </a>
          </p>

          
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
  </section>
  <!-- Section: Links  -->

  <!-- Copyright -->
  <div class="text-center p-4 position-absolute-bottom" style="background-color: rgba(0, 0, 0, 0.05);">
    © 2024 Copyright:
    <a class="text-reset fw-bold">cyberaff and FilFib</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->
</body>
</html>